{% extends "base.html" %}
{% block content %}
<ul>
<center>
	<p style="font-size: 25px"><mark>#</mark></p>
		<a href="/categories/a-z-list/24-hours-in-a&e" style="font-size: 14px"><mark>24 Hours in A&E</mark></br></a>
	</br><p style="font-size: 25px"><mark>A</mark></p>
		<a href="/categories/a-z-list/the-apprentice" style="font-size: 14px"><mark>The Apprentice</mark></br></a>
	</br><p style="font-size: 25px"><mark>B</mark></p>
		<a href="/categories/a-z-list/bbc-news"style="font-size: 14px"><mark>BBC News</mark></a>
		<a href="/categories/a-z-list/big-brother"style="font-size: 14px"><mark>Big Brother</a>
		<a href="/categories/a-z-list/breaking-bad"style="font-size: 14px"><mark>Breaking Bad</mark></br></a>
	</br><p style="font-size: 25px"><mark>C</mark></p>
		<a href="/categories/a-z-list/casualty"style="font-size: 14px"><mark>Casualty</mark></br></a>
	</br><p style="font-size: 25px"><mark>F</mark></p>
		<a href="/categories/a-z-list/friends"style="font-size: 14px"><mark>Friends</mark></br></a>
	</br><p style="font-size: 25px"><mark>G</mark></p>
		<a href="/categories/a-z-list/game-of-thrones" style="font-size: 14px"><mark>Game of Thrones</mark></br></a>
	</br><p style="font-size: 25px"><mark>J</mark></p>
		<a href="/categories/a-z-list/the-jeremy-kyle-show" style="font-size: 14px"><mark>The Jeremy Kyle Show</mark></br></a>
	</br><p style="font-size: 25px"><mark>X</mark></p>
		<a href="/categories/a-z-list/x-factor" style="font-size: 14px"><mark>X Factor</mark></br></a>
</center>

</ul>
	
	
{% endblock %}
