<DOCTYPE html>
<html lang="en">
<head>
	<title>TV List-ting</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	body {
		background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--bGQILdt_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/e13fv34tqlqciwshervw.png");
		background-repeat:no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

</style>

</head>
<body>

<nav class="navbar navbar-inverse" style="background-color: #06123d;">
	<div class="container-fluid">
	<div class="navbar-header">
	<a class="navbar-brand" href="/home#">TV LIST-TING</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="/categories/a-z-list">A-Z LIST</a></li>
		<li><a href="/categories/ratings">RATINGS</a></li>
		<li><a href="/categories/genres">GENRES</a></li>
	</ul>

	</div>
</nav>

{% block content %} {% endblock %}

</body>
</html>
