{% extends "base.html" %}
{% block content %}

<ul>
<center>
	<p style="font-size: 25px"><mark>Documentary</mark></p>
		<a href="/categories/genres/documentary/24-hours-in-a&e" style="font-size: 14px"><mark>24 Hours in A&E</mark></br></a>
	</br><p style="font-size: 25px"><mark>Drama</mark></p>
		<a href="/categories/genres/drama/breaking-bad" style="font-size: 14px"><mark>Breaking Bad</mark></a>
		<a href="/categories/genres/drama/casualty" style="font-size: 14px"><mark>Casualty</mark></br></a>
	</br><p style="font-size: 25px"><mark>Fantasy</mark></p>
		<a href="/categories/genres/fantasy/game-of-thrones" style="font-size: 14px"><mark>Game of Thrones</mark></br></a>
	</br><p style="font-size: 25px"><mark>Gameshow</mark></p>
		<a href="/categories/genres/gameshow/x-factor" style="font-size: 14px"><mark>X Factor</mark></br></a>
	</br><p style="font-size: 25px"><mark>News</mark></p>
		<a href="/categories/genres/news/bbc-news" style="font-size: 14px"><mark>BBC News</mark></br></a>
	</br><p style="font-size: 25px"><mark>Reality</mark></p>
		<a href="/categories/genres/reality/the-apprentice" style="font-size: 14px"><mark>The Apprentice</mark></a>
		<a href="/categories/genres/reality/big-brother" style="font-size: 14px"><mark>Big Brother</mark></br></a>
	</br><p style="font-size: 25px"><mark>Sitcom</mark></p>
		<a href="/categories/genres/sitcom/friends" style="font-size: 14px"><mark>Friends</mark></br></a>
	</br><p style="font-size: 25px"><mark>Talk Show</mark></p>
`		<a href="/categories/genres/talkshow/the-jeremy-kyle-show" style="font-size: 14px"><mark>The Jeremy Kyle Show</mark></a>


</center>





</ul>
{% endblock %}
