{% extends "base.html" %}
{% block content %}
<ul>
<center>
	<br><p style="font-size: 25px"><mark>1-2 Stars</mark></p>
		<a href="/categories/ratings/big-brother" style="font-size: 14px"><mark>Big Brother</mark></a>
		<a href="/categories/ratings/the-jeremy-kyle-show" style="font-size: 14px"><mark>The Jeremy Kyle Show</mark></a>
		<a href="/categories/ratings/x-factor" style="font-size: 14px"><mark>The X Factor</mark></a><br>
	<br><p style="font-size: 25px"><mark>3 Stars</mark></p>
		<a href="/categories/ratings/the-apprentice" style="font-size: 14px"><mark>The Apprentice</mark></a>
		<a href="/categories/ratings/casualty" style="font-size: 14px"><mark>Casualty</mark></a>
		<a href="/categories/ratings/bbc-news" style="font-size: 14px"><mark>BBC News</mark></a><br>
	<br><p style="font-size: 25px"><mark>4 Stars</mark></p>
		<a href="/categories/ratings/24-hours-in-a&e" style="font-size: 14px"><mark>24 Hours in A&E</mark></a><br>
	<br><p style="font-size: 25px"><mark>5 Stars</mark></p>
		<a href="/categories/ratings/friends" style="font-size: 14px"><mark>Friends</mark></a>
		<a href="/categories/ratings/game-of-thrones" style="font-size: 14px"><mark>Game of Thrones</mark></a>
		<a href="/categories/ratings/breaking-bad" style="font-size: 14px"><mark>Breaking Bad</mark></a>
</center>

</ul>
{% endblock %}
